<mat-card>
  <mat-card-title>App Describtion</mat-card-title>
  <mat-card-content>
    This app is a simple Customer Relationship Managment (CRM) tool for a
    smartphone shop. Furthermore it can be used to manage orders from customers
    and provides some statistics over the shop. For more informtion, especially
    on the different permissions the user of the app can have, take a look in
    <a [routerLink]="['/help']">Help</a>.
  </mat-card-content>
</mat-card>

<mat-card class="mt-32" *ngIf="checkZeroChartData(dataChart)">
  <mat-card-title>Distribution of Sales</mat-card-title>
  <mat-card-content>
    The following chart shows the numbers of selled goods:
    <div>
      <canvas
        baseChart
        width="400"
        height="400"
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
      >
      </canvas>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mt-32">
  <mat-card-title>Shop Statistics</mat-card-title>
  <mat-card-content>
    <table class="table">
      <tr>
        <th>Total Payments</th>
        <th>Total Number Orders</th>
        <th>Total Open Payments</th>
      </tr>
      <tr>
        <td>{{ totalPayments }}€</td>
        <td>{{ totalNumber }}</td>
        <td>{{ totalOpenPayments }}€</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
