<div class="dialog-container">
  <mat-progress-bar *ngIf="loading"
    mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>Edit IBAN</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>IBAN</mat-label>
        <input matInput 
          [(ngModel)]="currentUser.IBAN"
          [disabled]="loading"
          placeholder="Placeholder">
        <!-- <mat-hint>Please enter a name.</mat-hint> -->
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button
      (click)="dialogRef.close()">
      Cancle
    </button>
    <button mat-button
      (click)="saveUser()"
      cdkFocusInitial>
      Save
    </button>
  </div>

</div>
