.dialog-container {
  position: relative;
  mat-progress-bar {
    position: absolute;
    left: -24px;
    right: -24px;
    top: -24px;
    width: calc(100% + 48px);
  }
}

.cust-price-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}