.dialog-container {
  position: relative;
  mat-progress-bar {
    position: absolute;
    left: -24px;
    right: -24px;
    top: -56px;
    width: calc(100% + 48px);
  }
}

mat-checkbox {
  margin-right: 8px;
}