<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th class="hide-700">E-Mail</th>
      <th class="hide-700">City</th>
    </tr>
    <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.customIdName]">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td class="hide-700">{{ user.eMail }}</td>
      <td class="hide-700">{{ user.city }}</td>
    </tr>
  </table>

</mat-card>


<!-- Mit der Angular Material Tooltip Komponente können Beschreibungen mit Erklärungen beim 
Hovern über bestimmten Objekten angezeigt werden:  -->
<button mat-fab color="primary"
  *ngIf="auth.isSeller || auth.isAdmin"
  (click)="openDialog()"
  class="add-button"
  matTooltip="Add User">
  <mat-icon>add</mat-icon>
</button>
