<mat-card class="main" [class.edit-style]="edit" *ngIf="edit || numberProduct > 0">
  <div class="container">
    <img [src]="product.imageURL" class="hide-edit-950">
    <span class="prod-name">{{ product.name }}</span>
  </div>
  <div class="container">
    <span class="hide-400 hide-edit-950"> Price: {{ product.price }}€</span>
    <span> Number: {{ numberInBasket }}</span>
    <div *ngIf="edit">
      <button mat-mini-fab color="primary" (click)="removeNumber()" class="btn-remove">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="addNumber()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
