<!-- Startbildschirm und Login: -->
<app-start *ngIf="!loggedIn" (loggedIn)="logUserIn($event)"></app-start>

<!-- Inhalt nach dem LogIn: -->
<!-- Die folgende Syntax kann verwendet werden, um einen Eventlistener auf das Window Objekt zu
  legen. Dies nicht über einen JS Eventlistener zu machen, hat den Vorteil, dass die Angular 
  Change Detektion getriggert wird, wenn das Fenster die Größe verändert, dies ist bei einem 
  normalen Eventlistener nicht so, da ohne entsprechendes Binding Angular Change Detektion beim 
  resizen des Windows nicht getriggert wird!   -->
<div *ngIf="loggedIn" (window:resize)="setBoolOpen()">
  <mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="boolOpen">
      <div class="logo-container">
        <img src="/assets/img/logo.png" class="logo"><span>SIMPLE CRM</span>
      </div>

      <ul class="menu-items">
        <li [routerLink]="['/dashboard']"><mat-icon>fact_check</mat-icon> Dashboard</li>
        <li [routerLink]="['/user']"><mat-icon>account_circle</mat-icon> Customers</li>
        <li [routerLink]="['/orders']"><mat-icon>shopping_cart</mat-icon> Orders</li>
        <li [routerLink]="['/archive']"><mat-icon>book</mat-icon> Archive</li>
        <li [routerLink]="['/help']"><mat-icon>help</mat-icon> Help</li>
        <li (click)="logOut()"><mat-icon>arrow_forward</mat-icon>Log out</li>
      </ul>

    </mat-drawer>

    <div class="example-sidenav-content">
      <mat-toolbar color="primary">
        <mat-toolbar-row class="toolbar-div">
          <div>
            <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
            <span>Simple CRM</span>
          </div>
          <div class="role-description">
            <span class="hide-700">Signed in Role:</span> 
            <span class="hide-700" *ngIf="fireAuth.isAdmin">Admin</span>
            <span class="hide-700" *ngIf="fireAuth.isSeller && !fireAuth.isAdmin">Salesman</span>
            <span class="hide-700" *ngIf="fireAuth.isSeller && !fireAuth.isAdmin && fireAuth.isBanker"> and </span>
            <span class="hide-700" *ngIf="fireAuth.isBanker && !fireAuth.isAdmin">Banker</span>
            <span class="hide-700" *ngIf="!fireAuth.isBanker && !fireAuth.isAdmin && !fireAuth.isSeller">You are not signed in.</span>
            <button class="hide-500" mat-raised-button color="basic" (click)="logOut()">Log out</button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <!-- Page Content: -->
      <div class="router-container">
        <router-outlet></router-outlet>
        <!-- Salesman: {{fireAuth.isSeller}} <br>
        Banker: {{fireAuth.isBanker}} <br>
        Admin: {{fireAuth.isAdmin}} -->
      </div>

    </div>

  </mat-drawer-container>
</div>