
<div class="dialog-container">
  <mat-progress-bar *ngIf="loading"
    mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>Add User</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>First Name</mat-label>
        <!-- Mit der ngModel Directive kann man den Wert eines Input, Select oder 
        Textarea Tags direkt mit einem Attribut der Komponente verbinden. D.h. ngModel
        ist quasi das innerHTML des Input Tags. In diesem Fall wird hierbei ein two-way-Binding
        verwendet, dass heißt das der Wert des Inputfelds den Wert des Attributs annimmt und 
        das Attribut den Wert der in das Inputfeld geschrieben wurde:  -->
        <input matInput
          [(ngModel)]="user.firstName"
          [disabled]="loading"
          placeholder="First Name">
        <!-- <mat-hint>Please enter a name.</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput
          [(ngModel)]="user.lastName"
          [disabled]="loading"
          placeholder="Last Name">
        <!-- <mat-hint>Please enter a name.</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="mr-16 full-width">
        <mat-label>E-Mail</mat-label>
        <input matInput
          [(ngModel)]="user.eMail"
          [disabled]="loading"
          placeholder="Placeholder">
        <!-- <mat-hint>Please enter a date.</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="mr-16 full-width">
        <mat-label>IBAN</mat-label>
        <input matInput
          [(ngModel)]="user.IBAN"
          [disabled]="loading"
          placeholder="Placeholder">
        <!-- <mat-hint>Please enter a date.</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="mr-16 full-width">
        <mat-label>Birth Date</mat-label>
        <input matInput
          [(ngModel)]="birthDate"
          [disabled]="loading"
          placeholder="Placeholder"
          [matDatepicker]="picker">
        <!-- <mat-hint>Please enter a date.</mat-hint> -->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street + House No.</mat-label>
        <input matInput 
          [(ngModel)]="user.street"
          [disabled]="loading"
          placeholder="Placeholder">
        <!-- <mat-hint>Please enter a name.</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>Zip Code</mat-label>
        <input matInput 
          [(ngModel)]="user.zipCode"
          [disabled]="loading"
          placeholder="Placeholder">
        <!-- <mat-hint>Please enter a name.</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput 
          [(ngModel)]="user.city"
          [disabled]="loading"
          placeholder="Placeholder">
        <!-- <mat-hint>Please enter a name.</mat-hint> -->
      </mat-form-field>
    </div>


  </div>
  <div mat-dialog-actions>
    <button mat-button
      (click)="dialogRef.close()"
      [disabled]="loading">
      Cancle
    </button>
    <button mat-button
      (click)="saveUser()"
      [disabled]="loading"
      cdkFocusInitial>
      Save
    </button>
  </div>

</div>