@import '~@angular/material/theming';
@include mat-core(); 


.container{
    height:100vh;
    .side-drawer{
        width:300px;
        background-color:#340040;
        color:gray;
        .server-title{
            display:flex;
            justify-content:center;
            align-items:center;
            margin-top:50px;
            border-top:1px solid white;
            height:60px;
            border-bottom:1px solid white;
            font-size:30px;
            font-weight:800;
            color:white;
        }
    }
    .top-menu{
        height:50px;
        background-color:#340040;
    }
}



